# Python generated
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
scanner.spec

# Virtual environments
.venv

# Project specific
output/
scanner.log
main.py

# Portable build output
portable_scanner/scanner_src/dist/
portable_scanner/scans/
portable_scanner/output/
